[submodule "game-fetus-alpha"]
	path = game-fetus-alpha
	url = git@github.com:tokenrove/game-fetus-alpha.git
[submodule "aequus-noctis"]
	path = aequus-noctis
	url = git@github.com:tokenrove/aequus-noctis.git
[submodule "cl-sdl-cipht"]
	path = cl-sdl-cipht
	url = git@github.com:tokenrove/cl-sdl-cipht
